<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#layout-navbar-collapse" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="javascript:void(0)" class="navbar-brand" ui-sref="layout.index">{{ 'APP_TITLE' | glMessage }}</a>
        </div>
        <div class="collapse navbar-collapse" id="layout-navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown" uib-dropdown acl-sref="layout.role-list layout.permission-list layout.user-list layout.job-list layout.send-notification">
                    <a href="javascript:void(0)" class="uib-dropdown-toggle" role="button" aria-expanded="false" uib-dropdown-toggle>
                        {{ 'ADMINISTRATION_MENU' | glMessage }} <span class="caret"></span>
                    </a>
                    <ul class="uib-dropdown-menu" role="menu">
                        <li>
                            <a ui-sref="layout.role-list" acl-sref="layout.role-list">
                                {{ 'ROLE_LIST_MENU' | glMessage }}
                            </a>
                        </li>
                        <li>
                            <a ui-sref="layout.permission-list" acl-sref="layout.permission-list">
                                {{ 'PERMISSION_LIST_MENU' | glMessage }}
                            </a>
                        </li>
                        <li>
                            <a ui-sref="layout.user-list" acl-sref="layout.user-list">
                                {{ 'USER_LIST_MENU' | glMessage }}
                            </a>
                        </li>
                        <li>
                            <a ui-sref="layout.job-list" acl-sref="layout.job-list">
                                {{ 'JOB_LIST_MENU' | glMessage }}
                            </a>
                        </li>
                        <li>
                            <a ui-sref="layout.send-notification" acl-sref="layout.send-notification">
                                {{ 'SEND_NOTIFICATION_MENU' | glMessage }}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li uib-dropdown>
                    <a href="javascript:void(0)" class="uib-dropdown-toggle" uib-dropdown-toggle>
                        <img ng-src="img/flags/{{ locale.current.substring(0, 2) }}.gif">
                        {{ locale.current.substring(0, 2) }}
                        <span class="caret"></span>
                    </a>
                    <ul class="uib-dropdown-menu" role="menu">
                        <li ng-repeat="item in locale.available">
                            <a href="javascript:void(0)" ng-click="setLocale(item)">
                                <img ng-src="img/flags/{{ item.substring(0, 2) }}.gif">
                                {{ item | glMessage }}
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="btn navbar-btn" ng-click="login()" ng-hide="appControl.getProfile().authenticated"
                    ng-class="{ 'btn-primary': socketServer.getConnected(), 'btn-danger': !socketServer.getConnected() }">
                    {{ 'SIGN_IN_MENU' | glMessage }}
                </li>
                <li class="btn-group" uib-dropdown ng-show="appControl.getProfile().authenticated">
                    <button type="button" class="btn btn-default navbar-btn uib-dropdown-toggle" uib-dropdown-toggle
                        ng-class="{ 'btn-primary': socketServer.getConnected(), 'btn-danger': !socketServer.getConnected() }">
                        <span class="glyphicon glyphicon-user"></span>
                        {{ appControl.getProfile().name || appControl.getProfile().email }}
                        <span class="caret"></span>
                    </button>
                    <ul class="uib-dropdown-menu" role="menu">
                        <li>
                            <a ui-sref="layout.profile">
                                {{ 'PROFILE_MENU' | glMessage }}
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:void(0)" ng-click="logout()">
                                {{ 'SIGN_OUT_MENU' | glMessage }}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="main-view" ui-view></div>
