<div class="modal-header">
    <button class="close" ng-click="$dismiss()">&times;</button>
    <h4 class="modal-title">{{ 'JOB_EDIT_TITLE' | glMessage }}</h4>
</div>

<div class="modal-body">
    <div class="alert alert-modal alert-danger" ng-repeat="message in validation.errors">
        <center>
            {{ message }}
        </center>
    </div>

    <form class="form-horizontal" role="form" novalidate>
        <div class="form-group" ng-class="{ 'has-error': validation.fields.name.length }">
            <label class="col-sm-4 control-label required">
                {{ 'NAME_LABEL' | glMessage }}:
               <span ng-show="model.name.required" class="required-marker text-danger">
                    {{ 'REQUIRED_FIELD_LABEL' | glMessage | uppercase }}
                </span>
            </label>
            <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="model.name.value" focus-on="model.name.focus" on-key-enter="model.queue.focus = true"
                       ng-keydown="resetValidation('name')" ng-blur="validate('name')" ng-disabled="processing" autofocus="autofocus">
                <div class="help-block">
                    <ul class="list-unstyled icon-list error-list">
                        <li ng-repeat="message in validation.fields.name">{{ message }}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': validation.fields.queue.length }">
            <label class="col-sm-4 control-label required">
                {{ 'QUEUE_LABEL' | glMessage }}:
               <span ng-show="model.queue.required" class="required-marker text-danger">
                    {{ 'REQUIRED_FIELD_LABEL' | glMessage | uppercase }}
                </span>
            </label>
            <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="model.queue.value" focus-on="model.queue.focus" on-key-enter="model.status.focus = true"
                       ng-keydown="resetValidation('queue')" ng-blur="validate('queue')" ng-disabled="processing">
                <div class="help-block">
                    <ul class="list-unstyled icon-list error-list">
                        <li ng-repeat="message in validation.fields.queue">{{ message }}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': validation.fields.status.length }">
            <label class="col-sm-4 control-label required">
                {{ 'STATUS_LABEL' | glMessage }}:
               <span ng-show="model.status.required" class="required-marker text-danger">
                    {{ 'REQUIRED_FIELD_LABEL' | glMessage | uppercase }}
                </span>
            </label>
            <div class="col-sm-8">
                <select class="form-control" ng-model="model.status.value" focus-on="model.status.focus" on-key-enter="model.scheduled_for.focus = true"
                        ng-change="resetValidation('status')" ng-blur="validate('status')" ng-disabled="processing"
                        ng-options="item as item for item in model.status.list">
                </select>
                <div class="help-block">
                    <ul class="list-unstyled icon-list error-list">
                        <li ng-repeat="message in validation.fields.status">{{ message }}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': validation.fields.scheduled_for.length }">
            <label class="col-sm-4 control-label required">
                {{ 'SCHEDULED_FOR_LABEL' | glMessage }}:
               <span ng-show="model.scheduled_for.required" class="required-marker text-danger">
                    {{ 'REQUIRED_FIELD_LABEL' | glMessage | uppercase }}
                </span>
            </label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <input type="text" class="form-control" ng-model="model.scheduled_for.value" focus-on="model.scheduled_for.focus" on-key-enter="model.valid_until.focus = true"
                           ng-keydown="resetValidation('scheduled_for')" ng-blur="resetValidation('scheduled_for')" ng-disabled="processing" datetime-picker>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <div class="help-block">
                    <p>{{ 'JOB_SCHEDULED_FOR_NOTICE' | glMessage }}</p>
                    <ul class="list-unstyled icon-list error-list">
                        <li ng-repeat="message in validation.fields.scheduled_for">{{ message }}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': validation.fields.valid_until.length }">
            <label class="col-sm-4 control-label required">
                {{ 'VALID_UNTIL_LABEL' | glMessage }}:
               <span ng-show="model.valid_until.required" class="required-marker text-danger">
                    {{ 'REQUIRED_FIELD_LABEL' | glMessage | uppercase }}
                </span>
            </label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <input type="text" class="form-control" ng-model="model.valid_until.value" focus-on="model.valid_until.focus" on-key-enter="model.input_data.focus = true"
                           ng-keydown="resetValidation('valid_until')" ng-blur="resetValidation('valid_until')" ng-disabled="processing" datetime-picker>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <div class="help-block">
                    <p>{{ 'JOB_VALID_UNTIL_NOTICE' | glMessage }}</p>
                    <ul class="list-unstyled icon-list error-list">
                        <li ng-repeat="message in validation.fields.valid_until">{{ message }}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': validation.fields.input_data.length }">
            <label class="col-sm-4 control-label required">
                {{ 'INPUT_DATA_LABEL' | glMessage }}:
               <span ng-show="model.input_data.required" class="required-marker text-danger">
                    {{ 'REQUIRED_FIELD_LABEL' | glMessage | uppercase }}
                </span>
            </label>
            <div class="col-sm-8">
                <textarea rows="4" class="form-control" ng-model="model.input_data.value" focus-on="model.input_data.focus"
                          ng-keydown="resetValidation('input_data')" ng-blur="validate('input_data')" ng-disabled="processing"></textarea>
                <div class="help-block">
                    <ul class="list-unstyled icon-list error-list">
                        <li ng-repeat="message in validation.fields.input_data">{{ message }}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label required">
                {{ 'OUTPUT_DATA_LABEL' | glMessage }}:
            </label>
            <div class="col-sm-8">
                <textarea readonly="readonly" rows="5" class="form-control" ng-model="model.output_data.value" focus-on="model.output_data.focus"></textarea>
            </div>
        </div>

    </form>
</div>

<div class="modal-footer">
    <img class="pull-left" ng-show="processing" src="img/loader.gif">
    <button ng-disabled="processing" class="btn btn-default" ng-click="$dismiss()">{{ 'CANCEL_BUTTON' | glMessage }}</button>
    <button ng-disabled="processing" class="btn btn-primary" ng-click="submit()">{{ 'SAVE_CHANGES_BUTTON' | glMessage }}</button>
</div>
