<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-9">
            <h3>{{ 'TOKEN_TITLE' | glMessage }}: {{ userEmail }}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <div sidebar="sm">
                <div class="panel panel-default panel-actions">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ 'TOKEN_ACTIONS_TITLE' | glMessage }}</h3>
                    </div>
                    <div class="panel-body button-panel">
                        <button class="btn btn-default" ng-click="viewPayload()" ng-disabled="!hasSingleSelection">
                            {{ 'TOKEN_VIEW_PAYLOAD_BUTTON' | glMessage }}
                        </button>
                        <hr>
                        <button class="btn btn-default" ng-click="deleteToken()" ng-disabled="!hasSelection">
                            {{ 'TOKEN_DELETE_BUTTON' | glMessage }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="back-button">
                <a ui-sref="layout.user-list" acl-sref="layout.user-list">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                    {{ 'BACK_TO_USER_LIST_MENU' | glMessage | uppercase }}
                </a>
            </div>
            <div id="table" dynamic-table="tableCtrl"></div>
        </div>
    </div>
</div>
