<div class="modal-header">
    <button class="close" ng-click="$dismiss()">&times;</button>
    <h4 class="modal-title">{{ 'USER_EDIT_TITLE' | glMessage }}</h4>
</div>

<div class="modal-body">
    <div class="alert alert-modal alert-danger" ng-repeat="message in validation.errors">
        <center>
            {{ message }}
        </center>
    </div>

    <form class="form-horizontal" role="form" novalidate>
        <div class="form-group" ng-class="{ 'has-error': validation.fields.name.length }">
            <label class="col-sm-4 control-label required">
                {{ 'NAME_LABEL' | glMessage }}:
               <span ng-show="model.name.required" class="required-marker text-danger">
                    {{ 'REQUIRED_FIELD' | glMessage | uppercase }}
                </span>
            </label>
            <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="model.name.value" focus-on="model.name.focus" on-key-enter="model.email.focus = true"
                       ng-keydown="resetValidation('name')" ng-blur="validate('name')" ng-disabled="processing" autofocus="autofocus">
                <div class="help-block">
                    <ul class="list-unstyled icon-list error-list">
                        <li ng-repeat="message in validation.fields.name">{{ message }}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div ng-hide="model.email_changed">
            <div class="form-group">
                <label class="col-sm-4 control-label required">
                    {{ 'EMAIL_LABEL' | glMessage }}:
                </label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input type="text" readonly="readonly" class="form-control" ng-model="model.original_email" focus-on="model.email.focus" on-key-enter="model.password.focus = true"
                               ng-disabled="processing">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="model.changeEmail(); resetValidation('email')">
                                {{ 'USER_CHANGE_EMAIL_BUTTON' | glMessage }}
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="model.email_changed">
            <div class="form-group" ng-class="{ 'has-error': validation.fields.email.length }">
                <label class="col-sm-4 control-label required">
                    {{ 'EMAIL_LABEL' | glMessage }}:
                   <span ng-show="model.email.required" class="required-marker text-danger">
                        {{ 'REQUIRED_FIELD' | glMessage | uppercase }}
                    </span>
                </label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="model.email.value" focus-on="model.email.focus" on-key-enter="model.password.focus = true"
                               ng-keydown="resetValidation('email')" ng-blur="validate('email')" ng-disabled="processing">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="model.cancelEmail(); resetValidation('email')">
                                {{ 'CANCEL_BUTTON' | glMessage }}
                            </button>
                        </span>
                    </div>
                    <div class="help-block">
                        <ul class="list-unstyled icon-list error-list">
                            <li ng-repeat="message in validation.fields.email">{{ message }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="model.password_type == 'generated'">
            <div class="form-group">
                <label class="col-sm-4 control-label required">
                    {{ 'PASSWORD_LABEL' | glMessage }}:
                </label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input type="text" readonly="readonly" class="form-control" ng-model="model.password.value" focus-on="model.password.focus" on-key-enter="model.roles.focus = true">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="model.generatePassword(); resetValidation('password')">
                                {{ 'USER_REGENERATE_PASSWORD_BUTTON' | glMessage }}
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="model.password_type == 'specified'">
            <div class="form-group" ng-class="{ 'has-error': validation.fields.password.length }">
                <label class="col-sm-4 control-label required">
                    {{ 'PASSWORD_LABEL' | glMessage }}:
                   <span ng-show="model.password.required" class="required-marker text-danger">
                        {{ 'REQUIRED_FIELD' | glMessage | uppercase }}
                    </span>
                </label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" ng-model="model.password.value" focus-on="model.password.focus" on-key-enter="model.retyped_password.focus = true"
                           ng-keydown="resetValidation('password')" ng-blur="validate('password')" ng-disabled="processing">
                    <div class="help-block">
                        <p>{{ 'NEW_PASSWORD_NOTICE' | glMessage }}</p>
                        <ul class="list-unstyled icon-list error-list">
                            <li ng-repeat="message in validation.fields.password">{{ message }}</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error': validation.fields.retyped_password.length }">
                <label class="col-sm-4 control-label required">
                    {{ 'RETYPED_PASSWORD_LABEL' | glMessage }}:
                   <span ng-show="model.retyped_password.required" class="required-marker text-danger">
                        {{ 'REQUIRED_FIELD' | glMessage | uppercase }}
                    </span>
                </label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" ng-model="model.retyped_password.value" focus-on="model.retyped_password.focus" on-key-enter="model.roles.focus = true"
                           ng-keydown="resetValidation('retyped_password')" ng-blur="validate('retyped_password')" ng-disabled="processing">
                    <div class="help-block">
                        <ul class="list-unstyled icon-list error-list">
                            <li ng-repeat="message in validation.fields.retyped_password">{{ message }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': validation.fields.roles.length }">
            <label class="col-sm-4 control-label required">
                {{ 'ROLES_LABEL' | glMessage }}:
               <span ng-show="model.roles.required" class="required-marker text-danger">
                    {{ 'REQUIRED_FIELD' | glMessage | uppercase }}
                </span>
            </label>
            <div class="col-sm-8">
                <script type="text/ng-template" id="nodes_renderer.html">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="node.checked" ng-change="model.updateRoles()" focus-on="node.focus ? model.roles.focus : false" on-key-enter="submit()">
                            {{ node.title | glMessage }}
                        </label>
                    </div>
                    <ul ui-tree-nodes="" ng-model="node.roles">
                        <li ng-repeat="node in node.roles" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                    </ul>
                </script>
                <div ui-tree data-drag-enabled="false">
                    <ul ui-tree-nodes="" ng-model="model.roles.tree" id="tree-root">
                        <li ng-repeat="node in model.roles.tree" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <img class="pull-left" ng-show="processing" src="img/loader.gif">
    <button ng-show="!processing && model.password_type != 'generated'" class="btn btn-default pull-left" ng-click="model.generatePassword(); resetValidation('password')">{{ 'USER_GENERATE_PASSWORD_BUTTON' | glMessage }}</button>
    <button ng-show="!processing && model.password_type != 'specified'" class="btn btn-default pull-left" ng-click="model.specifyPassword(); resetValidation('password')">{{ 'USER_SPECIFY_PASSWORD_BUTTON' | glMessage }}</button>
    <button ng-disabled="processing" class="btn btn-default" ng-click="$dismiss()">{{ 'CANCEL_BUTTON' | glMessage }}</button>
    <button ng-disabled="processing" class="btn btn-primary" ng-click="submit()">{{ 'SAVE_CHANGES_BUTTON' | glMessage }}</button>
</div>
