div.letter
    h3 An error occured
    each error in errors
        if error.stack
            pre= error.stack
        else if error.length
            each sub in error
                pre= sub
        else
            pre= error
