| Error occureod
= "\n"
= "\n"
each error in errors
    if error.stack
        | * #{error.stack}
        = "\n"
        = "\n"
    else if error.length
        each sub in error
            | * #{sub}
            = "\n"
            = "\n"
    else
        | * #{error}
        = "\n"
        = "\n"
