block variables
    - var bodyClass = 'padded'

extends layout

prepend head
    script.
        window['config'] = {
            project: '#{project}',
            api_url: '/v1',
        };

block content
    .container(ng-hide="initialized")
        .row
            h3(class="col-sm-offset-2 col-sm-8", style="margin-top: 150px") #{loading}

    div#view-wrapper(ng-show="initialized", ui-view, class="ng-cloak")

    ng-include#error-wrapper(src="'views/error.html'", class="forced-hide")

    script(src='/socket.io/socket.io.js')
    if env == 'development'
        script(src='/js/vendor.js')
        script(src='/js/app.js')
    else
        script(src='/js/vendor.min.js')
        script(src='/js/app.min.js')
