extends layout

prepend head
    script.
        window['config'] = {
            apiUrl: '/api',
        };

block content
    div(ng-hide="appControl.isError() || !appControl.isReady()", ui-view)
    ng-include(ng-show="appControl.isError()", src="'views/error.html'")

    if env == 'development'
        script(src='/js/vendor.js')
        script(src='/js/app.js')
    else
        script(src='/js/vendor.js.css')
        script(src='/js/app.js.css')

    p= xxx
